<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Barra de progreso</h5>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
        </div>
          <br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'"></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">

<!--           <div class="input-group">
            <span class="input-group-btn">
               <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
                    <i class="mdi mdi-minus-circle-outline"></i> 
               </button>
            </span>

            <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso">
            
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
                    <i class="mdi mdi-plus-circle-outline"></i> 
                </button>
             </span>
          </div> -->
          <app-incrementador (cambiavalor)="progreso1 = $event" leyenda="Barra Azul" [posicion]=progreso1></app-incrementador>


        </div>
      </div>
    </div>

    <div class="col-6">
        <div class="card">
          <div class="card-body">
            <app-incrementador (cambiavalor)="progreso2 = $event" leyenda="Barra Verde" [posicion]=progreso2></app-incrementador>
          </div>
        </div>
    </div>
  
</div>