
<h3>{{ leyenda }}</h3>

<div class="input-group">
    <span class="input-group-btn">
       <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
            <i class="mdi mdi-minus-circle-outline"></i> 
       </button>
    </span>

    <input #txtprogress type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="cuandoCambie( $event )" min="0" max="100">
    
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
            <i class="mdi mdi-plus-circle-outline"></i> 
        </button>
     </span>
</div> 